header {
    display: flex;
    justify-content: space-between;
}

#search-input {
    justify-content: left;
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px;
}

#search-button {
    border: 1px solid green;
    border-radius: 5px;
    color: green;
    padding: 5px 10px;
}

#checkout-button {
    padding: 5px 15px;
    border: 0;
    border-radius: 5px;
    color: white;
    background-color: #1b73fb;
}

.verticalLine-right {
    border-right: 1px solid black;
}

.verticalLine-left {
    border-left: 1px solid black;
}